<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courses</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>List of Courses</h1>
    <a href="http://localhost:5001/">Back to index</a> <!-- Back button -->
    <select id="departmentSelect" onchange="filterByDepartment()">
        <option value="">Select Department</option>
        {% set departments = [] %}
        {% for course in data %}
            {% if course.department not in departments %}
                {% set _ = departments.append(course.department) %}
                <option value="{{ course.department }}">{{ course.department }}</option>
            {% endif %}
        {% endfor %}
    </select>
    <table id="courses-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Department</th>
            </tr>
        </thead>
        <tbody>
            {% for course in data %}
            <tr>
                <td>{{ course.name }}</td>
                <td>{{ course.department }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <script>
        function filterByDepartment() {
            var select, filter, table, tr, td, i, txtValue;
            select = document.getElementById("departmentSelect");
            filter = select.value.toUpperCase();
            table = document.getElementById("courses-table");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[1]; // Index 1 for department column
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (filter === "" || txtValue.toUpperCase() === filter) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>
</body>
</html>
